
.flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .items-center {
    align-items: center;
  }
  
  .p-5 {
    padding: 20px; 
  }
  

  .card {
    width: 100%;
    max-width: 20rem; 
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 1.25rem; 
    text-align: left;
  }
  